*.log
__pycache__/
.DS_Store
Thumbs.db
*.tmp
packaging/*.pkg.tar.zst
packaging/*.deb
packaging/rpmbuild/
packaging/deb/
packaging/src/
packaging/pkg/
*.zst
*.deb
*.rpm
*.pkg.tar.zst
tweakctl/packaging/rpmbuild/
tweakctl/packaging/deb/
tweakctl/packaging/src/
tweakctl/packaging/pkg/
tweakctl/packaging/tweakctl-*/
tweakctl/packaging/tweakctl-*
